<!doctype html>
<!--注意：引入thymeleaf的名称空间-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="format-detection" content="telephone=no">
    <title>鑫辉砂浆有限公司</title>
    <meta name="keywords" content="">
    <meta name="description" content="鑫辉砂浆有限公司">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <script type="text/javascript" th:src="@{/js/jquery1.42.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.SuperSlide.2.1.1.js}"></script>
    <script type="text/javascript" th:src="@{/js/index.js}"></script>

</head>
<body>

<dl class="header">
    <dt style="overflow:hidden;">
        <img src="/images/logo.png" height="114" width="322" class="logo"/>
    </dt>
</dl>

<div class="menu">
    <ul class="nav">
        <a href="/home">
            <li >
                首页
            </li>
        </a>
        <a href="/about">
            <li id="dangqian">
                公司简介
            </li>
        </a>
        <a href="/product">
            <li >
                产品介绍
            </li>
        </a>
        <a href="/news">
            <li  >
                公司新闻
            </li>
        </a>
        <a href="/qualification">
            <li  >
                公司资质
            </li>
        </a>
        <a href="/contact" >
            <li >
                联系我们
            </li>
        </a>
    </ul>
</div>
<div class="banner2" width="560" style="background:url(/images/other.png) center center no-repeat; ">
</div>

<div class="main">
    <div class="inner">
        <div class="right_con">
            <h2>
                <a href="/home">首页></a>
                <a class="cursite">公司介绍</a>
            </h2>
            <div class="content" style="width:780px;">
                <h3>公司介绍</h3>
                <p style="text-indent:2em;font-size:14px;color:#333333;">
                    <span style="line-height:2.5;">鑫辉砂浆有限公司位于（</span><strong><span style="line-height:2.5;">近达昂城区靠国道</span></strong><span style="line-height:2.5;">），背靠风景优美的九龙湖景区，是首批干混预拌砂浆生产企业，2012年为响应国家推广“</span><strong><span style="line-height:2.5;">绿色建筑、节能环保</span></strong><span style="line-height:2.5;">”等建设新理念和资源可持续发展的战略。公司开始筹建并于2013年5月正式投产。公司主要生产干混预拌普通砂浆、中高端特种砂浆等新型砂浆建材产品。 </span>
                </p>
                <p style="text-indent:2em;font-size:14px;color:#333333;">
                    <span style="line-height:2.5;">本公司是河南省首家采用福建南方路面机械有限公司FBT3000型高塔式生产线的砂浆生产企业，设计产能30万吨/年。整条生产线全自动化控制、计量精准，拥有二次筛分系统和先进的搅拌技术，其核心技术远领先于同行，先进的生产设备为公司生产品质的砂浆产品提供硬件保证；同时公司引进砂浆研发行业高技术人才，配置完整先进的试验检验检测设备，为研发生产各类规格的砂浆产品和质量管控提供有力的技术支持。</span>
                </p>
                <p style="text-indent:2em;font-size:14px;color:#333333;">
                    <span style="line-height:2.5;">公司已研制出适合机喷的专用干混砂浆，为推广砂浆机械化施工创造了条件，全面推广砂浆机械化施工有利于减轻劳动力短缺压力、提高施工效率、降低施工成本、确保施工质量；公司通过不断研发中高端砂浆及外加剂等附加产品，完善公司产品品种，能为建筑工程砂浆产品提供一体化服务；我们将继续汇集行业新技术，通过不断创新来推动砂浆行业的快速发展。</span>
                </p>
                <p>
                    <br />
                </p>
                <p class="MsoNormal" style="text-indent:2em;">
                    <br />
                </p>
                <p class="MsoNormal" style="text-indent:2em;">
                    <br />
                </p>
                <p class="MsoNormal" style="text-indent:2em;">
                    <br />
                </p>
                <p class="MsoNormal" style="text-indent:2em;">
                    <br />
                </p>
                <p style="text-indent:2em;">
                    <span><span> </span></span>
                </p>               <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="bottom">
    <div class="inner">
        <ul class="ul1">
            <li class="li1">
                <a href="/product">公司产品</a>
                <ul class="ul1">
                    <div class="clear"></div>
                </ul>
            </li>
            <li class="li1">
                <a href="/qualification">公司资质</a>
                <ul class="ul1">
                    <div class="clear"></div>
                </ul>
            </li>
            <li class="li1">
                <a href="/contact" >联系我们</a>
                <ul class="ul1">
                    <div class="clear"></div>
                </ul>
            </li>
            <div class="clear"></div>
        </ul>
    </div>
    <div class="ba">
        <div class="inner">
            <span class="left">版权所有</span>
            <span class="right"><a href="/contact">联系我们</a></span>
        </div>
    </div>
</div>
</body>
</html>