<!doctype html>
<!--注意：引入thymeleaf的名称空间-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="format-detection" content="telephone=no">
    <title>鑫辉砂浆有限公司</title>
    <meta name="keywords" content="">
    <meta name="description" content="鑫辉砂浆有限公司">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <script type="text/javascript" th:src="@{/js/jquery1.42.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.SuperSlide.2.1.1.js}"></script>
    <script type="text/javascript" th:src="@{/js/index.js}"></script>
</head>
<body>

<dl class="header">
    <dt style="overflow:hidden;">
        <img src="/images/logo.png" height="114" width="322" class="logo"/>
    </dt>
</dl>

<div class="menu">
    <ul class="nav">
        <a href="/home">
            <li >
                首页
            </li>
        </a>
        <a href="/about">
            <li >
                公司简介
            </li>
        </a>
        <a href="/product">
            <li id="dangqian">
                产品介绍
            </li>
        </a>
        <a href="/news">
            <li  >
                公司新闻
            </li>
        </a>
        <a href="/qualification">
            <li  >
                公司资质
            </li>
        </a>
        <a href="/contact" >
            <li >
                联系我们
            </li>
        </a>
    </ul>
</div>
<div class="banner2" style="background:url(/images/other.png) center center no-repeat;">
</div>
<div class="main">
    <div class="inner">
        <div class="left_nav">
            <div class="head">
                <h1>商品分类<span class="icon"><img src="/Public/home/images/jian1.png" /></span></h1>
            </div>
            <div class="con">
                <ul>
                    <li class="cur">
                        <a href="/templates/tabPage/ProductbPage/Product/index.html">全部</a>
                        <span class="icon">
	                    	<img src="/Public/home/images/plus.png" />
	                    </span>
                    </li>
                    <li >
                        <a href="/templates/tabPage/Product/index/tid/2.html">砂浆</a>
                        <span class="icon">
	                    		<img src="/Public/home/images/plus.png" />
	                    	</span>
                    </li><li >
                    <a href="/templates/tabPage/Product/index/tid/4.html">填缝剂</a>
                    <span class="icon">
	                    		<img src="/Public/home/images/plus.png" />
	                    	</span>
                </li><li >
                    <a href="/templates/tabPage/Product/index/tid/5.html">灌浆料</a>
                    <span class="icon">
	                    		<img src="/Public/home/images/plus.png" />
	                    	</span>
                </li><li >
                    <a href="/templates/tabPage/Product/index/tid/6.html">机械化施工</a>
                    <span class="icon">
	                    		<img src="/Public/home/images/plus.png" />
	                    	</span>
                </li>                    <div class="clear"></div>
                </ul>
            </div>
        </div>
        <div class="right_con">
            <h2>
                <a href="/home">首页></a>
                <a class="cursite">所有商品</a>
            </h2>
            <div class="content">
                <h3>
                    所有商品
                </h3>
                <ul class="ul_prod">
                    <li>
                        <a href="/templates/tabPage/Product/show/id/1.html">
                            <img src="/uploadfiles/products/2017-06-19/149783707368131.png" />
                        </a>
                        <div class="tit">预拌干混砌筑砂浆</div>
                    </li><li>
                    <a href="/templates/tabPage/Product/show/id/2.html">
                        <img src="/uploadfiles/products/2017-06-19/149783825043565.png" />
                    </a>
                    <div class="tit">预拌干混抹灰砂浆</div>
                </li><li>
                    <a href="/templates/tabPage/Product/show/id/3.html">
                        <img src="/uploadfiles/products/2017-06-19/149783826427471.png" />
                    </a>
                    <div class="tit">预拌干混地面砂浆</div>
                </li><li>
                    <a href="/templates/tabPage/Product/show/id/4.html">
                        <img src="/uploadfiles/products/2017-06-19/149783827516589.png" />
                    </a>
                    <div class="tit">干混普通防水砂浆</div>
                </li><li>
                    <a href="/templates/tabPage/Product/show/id/5.html">
                        <img src="/uploadfiles/products/2017-06-19/149783828840753.png" />
                    </a>
                    <div class="tit">彩色陶瓷墙地砖填缝剂</div>
                </li><li>
                    <a href="/templates/tabPage/Product/show/id/6.html">
                        <img src="/uploadfiles/products/2017-06-19/149783830322220.png" />
                    </a>
                    <div class="tit">灌浆料</div>
                </li><li>
                    <a href="/templates/tabPage/Product/show/id/7.html">
                        <img src="/uploadfiles/products/2017-06-19/149783831770020.png" />
                    </a>
                    <div class="tit">自流平砂浆</div>
                </li><li>
                    <a href="/templates/tabPage/Product/show/id/8.html">
                        <img src="/uploadfiles/products/2017-06-19/149783832936398.png" />
                    </a>
                    <div class="tit">推广干混砂浆机械化施工</div>
                </li>                </ul>
                <div class="clear"></div>
                <div class="fenye"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="bottom">
    <div class="inner">
        <ul class="ul1">
            <li class="li1">
                <a href="/product">公司产品</a>
                <ul class="ul1">
                    <div class="clear"></div>
                </ul>
            </li>
            <li class="li1">
                <a href="/qualification">公司资质</a>
                <ul class="ul1">
                    <div class="clear"></div>
                </ul>
            </li>
            <li class="li1">
                <a href="/contact" >联系我们</a>
                <ul class="ul1">
                    <div class="clear"></div>
                </ul>
            </li>
            <div class="clear"></div>
        </ul>
    </div>
    <div class="ba">
        <div class="inner">
            <span class="left">版权所有</span>
            <span class="right"><a href="/contact">联系我们</a></span>
        </div>
    </div>
</div>

</body>
</html>