<!doctype html>
<!--注意：引入thymeleaf的名称空间-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="format-detection" content="telephone=no">
    <title>鑫辉砂浆有限公司</title>
    <meta name="keywords" content="">
    <meta name="description" content="鑫辉砂浆有限公司">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <script type="text/javascript" th:src="@{/js/jquery1.42.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.SuperSlide.2.1.1.js}"></script>
    <script type="text/javascript" th:src="@{/js/index.js}"></script>
</head>
<body>

<dl class="header">
    <dt style="overflow:hidden;">
        <img src="/images/logo.png" height="114" width="322" class="logo"/>
    </dt>
</dl>

<div class="menu">
    <ul class="nav">
        <a href="/home">
            <li >
                首页
            </li>
        </a>
        <a href="/about">
            <li >
                公司简介
            </li>
        </a>
        <a href="/product">
            <li >
                产品介绍
            </li>
        </a>
        <a href="/news">
            <li  >
                公司新闻
            </li>
        </a>
        <a href="/qualification">
            <li id="dangqian" >
                公司资质
            </li>
        </a>
        <a href="/contact" >
            <li >
                联系我们
            </li>
        </a>
    </ul>
</div>
<div class="banner2" style="background:url(/images/other.png) center center no-repeat;">
</div>

<div class="main">
    <div class="inner">
        <div class="right_con">
            <h2>
                <a href="/home">首页></a>
                <a class="cursite">
                    公司资质        			        		</a>
            </h2>
            <div class="content">
                <h3>
                    公司资质            		            	</h3>
                <p><a href="/templates/tabPage/Info/tabPage/Info/show/id/1.html">备案证书（副本）</a>[2013-10-31 22:40:44]</p><p><a href="/templates/tabPage/Info/tabPage/Info/show/id/2.html">合格证书</a>[2013-10-31 23:06:44]</p><p><a href="/templates/tabPage/Info/tabPage/Info/show/id/3.html">备案证书</a>[2013-11-14 11:03:59]</p><p><a href="/templates/tabPage/Info/tabPage/Info/show/id/4.html">营业执照</a>[2013-11-14 11:05:54]</p><p><a href="/templates/tabPage/Info/tabPage/Info/show/id/5.html">压浆料测试报告</a>[2013-11-14 11:07:21]</p><p><a href="/templates/tabPage/Info/tabPage/Info/show/id/6.html">粘合剂测试报告</a>[2013-11-14 11:10:12]</p>	            <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="bottom">
    <div class="inner">
        <ul class="ul1">
            <li class="li1">
                <a href="/product">公司产品</a>
                <ul class="ul1">
                    <div class="clear"></div>
                </ul>
            </li>
            <li class="li1">
                <a href="/qualification">公司资质</a>
                <ul class="ul1">
                    <div class="clear"></div>
                </ul>
            </li>
            <li class="li1">
                <a href="/contact" >联系我们</a>
                <ul class="ul1">
                    <div class="clear"></div>
                </ul>
            </li>
            <div class="clear"></div>
        </ul>
    </div>
    <div class="ba">
        <div class="inner">
            <span class="left">版权所有</span>
            <span class="right"><a href="/contact">联系我们</a></span>
        </div>
    </div>
</div>

</body>
</html>